<!DOCTYPE html>
<html lang="en">
<head>
  <title>Groceries</title>
  <link href="/app.css" rel="stylesheet" media="all">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
  <div class="row">
    <%= yield %>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="js/GroceryItem.js"></script>
  <script src="js/GroceryList.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
